body {
    margin-top: 5%;
}

.svg-container {
    width: 100%;
}

#puzzle {
    width: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#puzzle text {
    cursor: pointer;
}
