body {
    margin-top: 8%;
    background: gray;
}

.svg-container {
    width: 100%;
}

.block-base {
  fill: #996633;
}

.board {
  fill: #604020;
}

.selected rect {
  fill: #c07f3f;
}

circle {
  stroke-width: 0.01;
  stroke: black;
  fill-opacity: 0.7;
}

#puzzle {
    width: 30%;
    min-width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#puzzle text {
    cursor: pointer;
}
